* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top {
    background-color: #1F2937;
    margin: 0;
    height: 480px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    margin-left: 100px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.header-link {
    margin-right: 100px;
}
ul {
    display: flex;
    text-decoration-style: none;
    list-style-type: none;
    gap: 20px;
}
li {
    color: #e5e7eb;
    font-size: 18px;
}
.title,
.description,
.cheer-up {
    margin-left: 100px;
}
.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 450px;
    height: 110px;
    overflow: auto;
}
.description {
    color: #e5e7eb;
    font-size: 18px;
    width: 450px;
    height: 70px;
    overflow: auto;
}
.cheer-up {
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding: 7px 30px;
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    transition: 0.3s;
}
.sign-up:active {
    opacity: 0.15;
}
.top-low {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    margin-right: 100px;
    flex: auto;
    flex-wrap: wrap;
}
img {
    width: 500px;
    height: 220px;
}
.mid-title {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    padding: 36px;
    display: flex;
    justify-content: center;
}
.images-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.combine {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.combine div {
    width: 150px;
    height: 150px;
    overflow: auto;
    color: #1F2937;
    font-weight: lighter;
}
.combine img {
    border: 3px solid #3882f6;
    width: 140px;
    height: 140px;
    border-radius: 15px;
    display: block;
}
.mid-mid {
    background-color: #e5e7eb;
    padding: 210px;
    height: 90px;
}
.quote {
    font-style: italic;
    font-size: 36px;
}
.author {
    margin-right: 30px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}
.mid-lower {
    display: flex;
    padding: 100px;
}
.container {
    border-radius: 10px;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.sign-up-low {
    font-weight: bolder;
    color: #f9faf8;
    margin-right: 80px;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    transition: 0.3s;
}
.sign-up-low:hover {
    opacity: 0.7;
}
.sign-up-low:active {
    opacity: 0.15;
}
.footer {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
}